
<aside>
  <h3>Recommended For You</h3>
  <%= render (Movie.find_by(id: session["movie_id"]) || Movie.sample) %>
</aside>

<div class="movie-selections">
  <%= render 'movie', movie: nil %>
  <%= render @movies %>
</div>
